html{
    scroll-behavior: smooth;
}

body {
    text-align: center;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    }
    
    body *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    
/* INICIO NAVEGACION*/

.fondo-navbar {
    background-color:#10171D;
}

/* FINAL NAVEGACION*/

/* INICIO CONTENIDO PRINCIPAL*/

.hero__section {
    background-image: url(../img/hero2.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position:center;
    height: 545px;
    ;
}

.container__hero{
    text-align: center;
    width:auto;
    height: auto;

}

h1 .btn{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
 
}


h1{
    text-align: center;
    border-color: #ffffff;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.boton_x {
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
}
/* FIN CONTENIDO PRINCIPAL*/

/* INICIO MAIN*/

.main_content{
    color: #ffffff;
    background-color: #10171D;
    padding: 20px;
}

.main_box{
    padding-top: 20px;
}










/*mediaquery*/


@media (min-width: 500px) {
    h1 .btn{
        font-size: 35px;
    }
 .logo_tipe{
     width: 30%;
 }
}
  
@media (min-width: 768px) {
    h1 .btn{
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    h1 .btn{
        font-size: 50px;
    }
    .logo_tipe{
        width: 20%;
    }
}

@media (min-width: 1200px) {
 
}